body{

margin:0;

background:#F7F2E7;

font-family:Georgia;

}

.hero{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:30px;

}

.small{

letter-spacing:3px;

}

button{

padding:18px 40px;

border:none;

border-radius:50px;

background:#8D9568;

color:white;

font-size:18px;

}.form{

padding:

140px 30px;

max-width:

500px;

margin:auto;

}

input,
textarea{

width:100%;

padding:18px;

margin:10px 0;

border-radius:18px;

border:none;

background:white;

}

textarea{

height:160px;

}
.memory{

background:white;

padding:20px;

border-radius:20px;

margin-top:20px;

}

input[type=file]{

width:100%;

}

.reveal img{

width:100%;

border-radius:20px;

}

.memory{

background:white;

padding:20px;

border-radius:20px;

margin-top:20px;

}
