body{

margin:0;

background:#F7F2E7;

font-family:Georgia;

}

.hero{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:30px;

}

.small{

letter-spacing:3px;

}

button{

padding:18px 40px;

border:none;

border-radius:50px;

background:#8D9568;

color:white;

font-size:18px;

}
